<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="place-info col-sm-12">
    <strong class="name">{place.name}</strong>
    <div class="star-rating">
        <span class="general-rating">{place.averageRating}</span>
        <span class="stars stars-{place.roundedAverageRating}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>
    <p class="reviews-count">
        <small>
            <f:translate id="general.place.review_count" arguments="{0: place.reviewCount}" />
        </small>
    </p>
</div>
</html>